<section class="advantages">
  <div class="container-a advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <h3 class="advantages-item-title">01</h3>
        <p class="advantages-item-text text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">02</h3>
        <p class="advantages-item-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">03</h3>
        <p class="advantages-item-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">04</h3>
        <p class="advantages-item-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture class="advantages-img">
      <source
        srcset="
          ./img/desktop-img/advantages-desktop.jpg    1x,
          ./img/desktop-img/advantages-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet-img/advantages-tablet.jpg    1x,
          ./img/tablet-img/advantages-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile-img/advantages-mobile.jpg    1x,
          ./img/mobile-img/advantages-mobile@2x.jpg 2x
        "
        media="(max-width: 375px)"
      />

      <img src="./img/mobile-img/advantages-mobile.jpg" alt="yacht" />
    </picture>
  </div>
</section>
