<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <h3 class="advantages-item-title">01</h3>
        <p class="advantages-item-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">02</h3>
        <p class="advantages-item-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">03</h3>
        <p class="advantages-item-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-item-title">04</h3>
        <p class="advantages-item-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <img class="advantages-img" src="" alt="yacht" />
  </div>
</section>
