<footer class="footer-yht">
    <div class="footer-container">
        <div class="footer-nav">
            <a class="footer-logo" href="./index.html">yachtjet</a>
           
     
        <nav class="footer-nav-section">
            <button class="footer-button" type="button">About</button>
            <button class="footer-button" type="button">Yachts</button>  
              <button class="footer-button" type="button">Reviews</button>  
            
        </nav>

    
       

        <ul class="footer-social-links">
            <li>
                <a href="https://www.instagram.com/goitclub/">
                    <svg class="footer-icon" width="24" height="24">
                        <use href="../img/footer-social.svg#icon-instagram"></use>
                    </svg> </a>
                    
            </li>
            <li>
                <a href="https://www.youtube.com/c/GoIT">
                    <svg class="footer-icon" width="24" height="24">
                        <use href="../img/footer-social.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li>
               <a href="https://www.facebook.com/goITclub">
                <svg class="footer-icon" width="24" height="24">
                    <use href="../img/footer-social.svg#icon-facebook">

                    </use>
                </svg>
               </a> 
            </li>
        </ul>

    </div>

        <div class="footer-text-one">
            <p>No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</p>
        </div>

        <div class="footer-text-two">
            <p>2023. Yacht Adventures</p>
            <p>Privacy Police</p>
        </div>

     
    </div>
</footer>