<header class="header">
  <div class="head-menu">
    <nav class="logo-nav">
      <div class="logo-height">
        <a href="./index.html" class="logo">yachtjet </a>
      </div>

      <ul class="navigation">
        <li class="heder_list">
          <a data-goto="#about-us" href="#" class="heder-link accent-link"
            >About</a
          >
        </li>
        <li class="heder_list">
          <a data-goto="#yacht-catalog" href="#" class="heder-link accent-link"
            >Yachts</a
          >
        </li>
        <li class="heder_list">
          <a data-goto="#reviews" href="#" class="heder-link accent-link"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <button class="burger" type="button" id="intro_btn">
      <svg class="icon-burger" width="28" height="28" aria-label="mobile-menu">
        <use href="./img/sprite.svg#menu-mobile-icon"></use>
      </svg>
    </button>
    <ul class="header-social">
      <li class="social_phon">
        <a href=" https://www.instagram.com/goitclub" class="social-contact">
          <svg class="icon-contact" width="24" height="24">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social_phon">
        <a href="https://www.youtube.com/c/GoIT" class="social-contact">
          <svg class="icon-contact" width="24" height="24">
            <use href="./img/sprite.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social_phon">
        <a href="https://www.facebook.com/goITclub/" class="social-contact">
          <svg class="icon-contact" width="24" height="24">
            <use href="./img/sprite.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
