<div class="mobile-menu-wrapper">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-top">
      <a class="mobile-menu-logo" href="./manu-mb.html">yachtjet</a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-btn-icon" width="28" height="28">
          <use href="./img/sprite.svg#close-mobile-icon"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item menu-link-add-color">
          <a class="mobile-menu-link" href="">ABOUT</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">YACHTS</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-social-list">
      <li class="mobile-social-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="mobile-social-list-link"
          ><svg class="mobile-social-list-icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="mobile-social-list-link"
        >
          <svg class="mobile-social-list-icon" width="24" height="24">
            <use href="./img/sprite.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="mobile-social-list-link"
        >
          <svg class="mobile-social-list-icon" width="24" height="24">
            <use href="./img/sprite.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
