<section class="our-yachts" id="yacht-catalog">
    <div class="container-our-yachts">
        <h2 class="title-our-yachts">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="yachts-list">
            <li class="yachts-item">
                <picture>
                    <source srcset="
                                         ./img/desktop-img/our-yachts-desktop-arrow.jpg 1x,
                                         ./img/desktop-img/our-yachts-desktop-arrow@2x.jpg 2x
                                         " media="(min-width: 1280px)">
                    <source srcset="
                                        ./img/tablet-img/our-yachts-tablet-arrow.jpg 1x,
                                        ./img/tablet-img/our-yachts-tablet-arrow@2x.jpg 2x
                                         " media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="
                                        ./img/mobile-img/our-yachts-mobile.jpg 1x,
                                        ./img/mobile-img/our-yachts-mobile@2x.jpg 2x
                                         " media="(max-width: 767px)">
                    <img src="./img/mobile-img/our-yachts-mobile.jpg" alt="Arrow yacht">
                </picture>
                <div class="about-the-yacht">
                    <div class="title-about-the-yacht">
                        <h3 class="yacht-name">Arrow</h3>
                        <p class="yacht-segment">luxury yachts</p>
                    </div>
                    <div class="technical-data">
                        <div class="left-text">
                            <p>length</p>
                            <p>builder</p>
                            <p>built</p>
                            <p>guests</p>
                            <p>price</p>
                        </div>
                        <div class="right-text">
                            <p>48m(155ft)</p>
                            <p>Admiral</p>
                            <p>2021</p>
                            <p>11 in 5 cabins</p>
                            <p>€33,500,000</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="yachts-item benetti-item">
                <picture>
                    <source srcset="
                ./img/desktop-img/our-yachts-desktop-benetti.jpg 1x,
                ./img/desktop-img/our-yachts-desktop-benetti@2x.jpg 2x
                 " media="(min-width: 1280px)">
                    <source srcset="
                ./img/tablet-img/our-yachts-tablet-benetti.jpg 1x,
                ./img/tablet-img/our-yachts-tablet-benetti@2x.jpg 2x
                 " media="(min-width: 768px) and (max-width: 1279px)">
                    <img src="./img/tablet-img/our-yachts-tablet-benetti.jpg" alt="Benetti yacht">
                </picture>
                <div class="about-the-yacht">
                    <div class="title-about-the-yacht">
                        <h3 class="yacht-name">Benetti Oasis 40M BO122</h3>
                        <p class="yacht-segment">luxury yachts</p>
                    </div>
                    <div class="technical-data">
                        <div class="left-text">
                            <p>length</p>
                            <p>shipyard</p>
                            <p>built</p>
                            <p>guests</p>
                            <p>price</p>
                        </div>
                        <div class="right-text">
                            <p><span class="highlight">41m (133ft)</span></p>
                            <p>Benetti</p>
                            <p>2025</p>
                            <p>10 in 5 cabins</p>
                            <p>€23,210,000</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="yachts-item belle-item">
                <img srcset="./img/desktop-img/our-yachts-desktop-belle-desktop@2x.jpg 2x"
                    src="./img/desktop-img/our-yachts-desktop-belle-desktop.jpg" alt="product designer" width="345"
                    height="268">
                <div class="about-the-yacht">
                    <div class="title-about-the-yacht">
                        <h3 class="yacht-name">Belle Anna</h3>
                        <p class="yacht-segment">luxury yachts</p>
                    </div>
                    <div class="technical-data">
                        <div class="left-text">
                            <p>length</p>
                            <p>shipyard</p>
                            <p>built</p>
                            <p>guests</p>
                            <p>price</p>
                        </div>
                        <div class="right-text">
                            <p>50m(155ft)</p>
                            <p>ISA</p>
                            <p>2012</p>
                            <p>12 in 6 cabins</p>
                            <p>€21,000,000</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="link-rental" href="#rent-a-yacht">Yacht rental</a>
    </div>
</section>