<section class="rent-a-yacht" id="rent-a-yacht">
  <div class="container-wrapper">
    <div class="rent-form-container">
      <h2 class="rent-yacht-title">Rent a yacht now</h2>
      <form class="rent-form" id="form">
        <div class="rent-yacht-input-wrapper">
          <input
            class="rent-yacht-input"
            name="user-name"
            type="text"
            placeholder="Full Name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            required
          />
        </div>

        <div class="rent-yacht-input-wrapper">
          <input
            class="rent-yacht-input"
            name="user-email"
            type="email"
            placeholder="Email"
            required
            id="user-email"
          />
        </div>

        <div class="rent-yacht-input-wrapper">
          <input
            class="rent-yacht-input"
            name="user-tel"
            type="tel"
            placeholder="Phone number"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            required
          />
        </div>

        <div class="rent-yacht-textarea-wrapper">
          <textarea
            class="rent-yacht-textarea"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>

        <button class="button-rent-form" type="submit" id="launch-btn">
          Send
        </button>
      </form>
    </div>

    <div class="rent-pict">
      <picture>
        <source
          srcset="
            ./img/desktop-img/rent-a-yacht-desktop.jpg    1x,
            ./img/desktop-img/rent-a-yacht-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./img/tablet-img/rent-a-yacht-tablet.jpg    1x,
            ./img/tablet-img/rent-a-yacht-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/mobile-img/rent-a-yacht-mobile.jpg    1x,
            ./img/mobile-img/rent-a-yacht-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="./img/mobile-img/rent-a-yacht-mobile.jpg"
          alt="Luxury Yacht In The Ocean"
        />
      </picture>
    </div>
  </div>
</section>
