.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-list {
  background-color: #1b414b;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
}

.advantages-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 18px;
}

.advantages-item-title::after {
  content: '';
  display: block;
  margin-top: 18px;
  width: 100%;
  height: 2px;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
}
.advantages-item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.text {
  width: 238px;
}

.advantages-img {
  background: lightgray -279.167px -3px / 245.174% 108.962% no-repeat;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .advantages-container {
    gap: 32px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    gap: 44px 32px;
    padding: 90px 32px;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-item-text {
    font-size: 13px;
    line-height: 1.15;
    width: 292px;
  }

  .text {
    width: 238px;
  }

  .advantages-item-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages-container {
    flex-direction: row;
  }

  .advantages-list {
    width: 716px;
    justify-content: center;
    gap: 44px;
    padding: 90px 50px;
  }

  .advantages-item {
    width: calc((100% - 44px) / 2);
  }
}
