body {
  font-family: Inter, sans-serif;
  color: #fbfbfb;
}
.hero,
.about-us,
.our-yachts,
.advantages,
.rent-a-yacht,
.reviews {
  background-color: #0e1823;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
