body {
  font-family: Inter, sans-serif;
  color: #fbfbfb;
  background-color: #101420;
  margin: 0;
}
body._lock {
  overflow: hidden;
}
input {
  outline: none;
}
input:focus-within,
textarea:focus-within {
  border: 1px solid rgba(251, 251, 251, 0.5);
}
input:focus-within::placeholder,
textarea:focus-within::placeholder {
  color: rgba(251, 251, 251, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
}
main {
  overflow-x: clip;
}
