.footer-yht {
    max-width: 375px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #1B414B;
    border-radius: 24px 24px 0px 0px;
}

.footer-container {
    padding-left: 10px;
    padding-right: 10px;
}


.footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: first baseline;
    gap: 80px 37px;
   
}

.footer-nav-section {
    display: flex;

}

.footer-logo {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-left: 30px;
}

.footer-navigation {
    display: flex;
    gap: 4px;
 
        }

.footer-link {
    padding: 15px 12px 15px 12px;
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.12em;
    text-transform: uppercase;
    background: rgba(251, 251, 251, 0.30);
    border-radius: 8px;
        }

.footer-social-links {
display: flex;
margin: 0 auto;
gap: 8px;
}

.footer-icon {
    fill: #FBFBFB;
}

.footer-text-one {
display: flex;
justify-content: center;
color: #FBFBFB;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.08;
letter-spacing: 0.02em;
width: 279px;
margin: 0 auto;
margin-top: 42px;
}

.footer-text-two {
    display: flex;
    gap: 20px;
    margin-top: 82px;
    justify-content: center;
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

@media screen and (min-width:768px) {
.footer-yht{
    max-width: 768px;
    padding-top:50px;
    padding-bottom: 20px;
}

.footer-container {
    padding-left: 16px;
    padding-right: 16px;
}

.footer-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
 
}

.footer-logo {
    margin-left: 0;
    }
   

.footer-nav-section {
    align-items: center;
    gap: 8px;
 
}

.footer-link{
padding: 15px 24px 15px 24px;

}

.footer-social-links {
    display: flex;
    gap: 8px;
    margin: 0;
   
}

.footer-text-one{
    width: 640px;
    font-size: 32px;
    margin-top: 96px;

}

.footer-text-two {
    margin-top: 99px;
}


}


@media screen and (min-width:1280px){
.footer-yht {
        max-width: 1230px;
        padding-top: 50px;
        padding-bottom: 20px;
    }


.footer-container {
    padding-left: 25px;
    padding-right: 25px;
}
.footer-logo{
    font-size: 20px;
    letter-spacing: -0.03em;
}

.footer-link {
    padding: 15px 24px 15px 25px;

}

.footer-text-one{
    font-size: 32px;
}

.footer-text-two{
    font-size: 14px;
}



.footer-icon:hover {
    fill: rgba(251, 251, 251, 0.8);
}
    
}