.footer-yht {
  max-width: 355px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #1b414b;
  margin: 0 auto;
  border-radius: 24px 24px 0px 0px;
}

.footer-container {
  padding-left: 30px;
  padding-right: 30px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 80px 27px;
}
.footer-container-nav {
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
}
.footer-nav-section {
  display: flex;
}
.footer-list {
  padding: 15px 12px 15px 12px;
  text-align: center;
  background: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  width: 66px;
}

.footer-logo {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
}

.footer-navigation {
  display: flex;
  gap: 4px;
}

.footer-link {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.12em;
  text-transform: uppercase;
}

.footer-social-links {
  display: flex;
  margin: 0 auto;
  gap: 8px;
}

.footer-icon {
  fill: #fbfbfb;
}

.footer-text-one {
  display: flex;
  justify-content: center;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.08;
  letter-spacing: 0.02em;
  width: 279px;
  margin: 0 auto;
  margin-top: 40px;
}

.footer-text-two {
  display: flex;
  gap: 20px;
  margin-top: 82px;
  justify-content: center;
  color: rgba(251, 251, 251, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer-yht {
    max-width: 736px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .footer-container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .footer-nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-container-nav {
    gap: 106px;
  }

  .footer-logo {
    margin-left: 0;
  }

  .footer-nav-section {
    align-items: center;
    gap: 8px;
  }
  .footer-list {
    padding: 15px 24px;
    width: 91px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .footer-link {
    padding: 15px 0;
  }

  .footer-social-links {
    display: flex;
    gap: 8px;
    margin: 0;
  }

  .footer-text-one {
    width: 640px;
    font-size: 32px;
    margin-top: 96px;
  }

  .footer-text-two {
    margin-top: 99px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-yht {
    max-width: 1230px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .footer-container {
    padding-left: 75px;
    padding-right: 75px;
  }
  .footer-logo {
    font-size: 20px;
    letter-spacing: -0.03em;
  }

  .footer-container-nav {
    gap: 326px;
  }
  .footer-list {
    padding: 15px 24px 15px 25px;
  }
  .footer-link {
    padding: 15px 0;
  }

  .footer-link:hover,
  .footer-link:focus {
    background: #fbfbfb;
    color: #1b414b;
  }

  .footer-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-text-one {
    width: 692px;
  }

  .footer-text-two {
    font-size: 14px;
  }

  .footer-icon:hover {
    fill: rgba(251, 251, 251, 0.8);
  }
}
