.hero {
  padding-top: 260px;
  padding-bottom: 242px;
  background-image: linear-gradient(
      to top,

      rgba(17, 19, 31, 0.31),
      rgba(17, 19, 31, 0)
    ),
    url(../img/mobile-img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.hero-container {
  padding: 0 20px;
}
@media (min-resolution: 192dpi) and (min-width: 375px) {
  .hero {
    background-image: linear-gradient(to top, #11131f, #11131f48, #11131f00),
      url(../img/mobile-img/hero-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to top,
        rgba(17, 19, 31, 0.8),
        rgba(17, 19, 31, 0.31),
        rgba(17, 19, 31, 0)
      ),
      url(../img/tablet-img/hero-tablet.jpg);
    padding-top: 280px;
    padding-bottom: 215px;
    max-width: 768px;
  }
}

@media (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to top,
        rgba(17, 19, 31, 0.8),
        rgba(17, 19, 31, 0.31),
        rgba(17, 19, 31, 0)
      ),
      url(../img/tablet-img/hero-tablet@2x.jpg);
  }
}

@media (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        to top,
        rgba(17, 19, 31, 0.8),
        rgba(17, 19, 31, 0.31),
        rgba(17, 19, 31, 0)
      ),
      url(../img/desktop-img/hero-desktop.jpg);
    padding-top: 235px;
    padding-bottom: 180px;
    max-width: 1280px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        to top,
        rgba(17, 19, 31, 0.8),
        rgba(17, 19, 31, 0.31),
        rgba(17, 19, 31, 0)
      ),
      url(../img/desktop-img/hero-desktop@2x.jpg);
  }
}

.hero-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 0 32px;
  }
  .hero-title {
    font-size: 70px;
    max-width: 704px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 0 116px;
  }
  .hero-title {
    font-size: 80px;
    max-width: 1050px;
    margin-bottom: 48px;
  }
}

.hero-text {
  color: rgba(251, 251, 251, 0.7);
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 16px;
    max-width: 597px;
    margin-bottom: 48px;
  }
}

.link-rental-yacht{
    display: inline-flex;
    padding: 14px 32px;
    border-radius: 15px;
    background: #1B414B;
    align-self: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -.02em;
  }

    @media (min-width: 768px){
     .link-rental-yacht {
       padding: 16px 40px;
       font-size: 18px;
       line-height: 1.1;
       }
   }



