@media screen and (max-width: 375px) {
    .container {
        width: 320px;
    }
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.mobile-menu-container {
display: flex;
flex-direction: column;
padding-top: 16px;
padding-bottom: 40px;
}

.mobile-menu-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #0E1823;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu-wrapper.is-open {
    transform: translateX(0%); 
}

.mobile-menu-top {
position: relative;
display: flex;
justify-content: space-between;
border-radius: 8px;
border: 1px solid #FBFBFB;
background: #FBFBFB;
padding-top: 12px;
padding-bottom: 13px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: auto;
}

.mobile-menu-logo {
    color: #1B414B;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
   
}

.mobile-menu-close-btn {
position: absolute;
top: 7px;
right: 20px;
width: 28px;
height: 28px;
background-color: transparent;
border: none;
line-height: 0;
}

.mobile-menu-close-btn-icon {
    fill: #055545;
}

.mobile-menu-list {
display: flex;
flex-direction: column;
align-items: center;
gap: 4px;
}


.mobile-menu-item {
min-width: 91px;
height: 40px;
padding: 15px 25px;
border-radius: 8px;
background-color: rgba(27, 65, 75, 0.50);
}

.menu-link-add-color {
    background-color: #1B414B;
}
.mobile-menu-item {
    color: #FBFBFB;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;}

.mobile-social-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.mobile-social-list-icon {
fill: #FBFBFB;
}

.mobile-menu-navigation {
margin-bottom: auto;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }}