         /* ========= MOBILE ========== */

   .rent-form-container {
        max-width: 335px;
        margin: 0 auto;
        padding-top: 80px;
    }

    .rent-yacht-title {
        color: #FBFBFB;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        /* 100% */
        letter-spacing: -0.02em;
        margin-bottom: 40px;
    }

    .rent-yacht-input-wrapper {
        margin-bottom: 18px;
    }

    .rent-yacht-input {
        display: flex;
        width: 100%;
        height: 42px;
        justify-content: center;
        align-items: center;
        padding-left: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 12px;
        border: 1px solid rgba(251, 251, 251, 0.20);
        background-color: transparent;
        color: rgba(251, 251, 251, 0.40);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        /* 116.667% */
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .rent-yacht-textarea-wrapper {
        margin-bottom: 40px;
    }
        
    .rent-yacht-textarea {
        display: flex;
        width: 100%;
        height: 108px;
        justify-content: center;
        align-items: center;
        padding-left: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 12px;
        border: 1px solid rgba(251, 251, 251, 0.20);
        color: rgba(251, 251, 251, 0.40);
        background-color: transparent;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        /* 116.667% */
        resize: none;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
        .rent-yacht-textarea::placeholder {
            font-size: 12px;
            line-height: 1.17;
        color: rgba(251, 251, 251, 0.40);        }

    .button-rent-form {
        min-width: 122px;
        height: 46px;
        padding: 14px 44px;
        margin: auto;
        border: none;
        color: #FBFBFB;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        /* 128.571% */
        letter-spacing: -0.02em;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: #1B414B;
        margin-bottom: 80px;
    }

.rent-pict {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: url(<path-to-image>) lightgray;
    background-position: center center;
    background-size: cover;
    border-radius: 24px;
    overflow: hidden;
    outline: transparent;
    margin-bottom: 80px;
}
        /* ========= TABLET ========== */

 @media screen and (min-width: 768px) {

    .rent-form-container {
max-width: 472px;
padding-top: 150px;
 }

 .rent-yacht-title {
font-size: 48px;
 }

 .rent-yacht-input {
 width: 100%;
resize: none;
 height: 54px;
 font-size: 14px;
line-height: 1.28;
 }

.rent-yacht-textarea-wrapper {
    margin-bottom: 50px;
}

.rent-yacht-textarea {
    width: 100%;
    resize: none;
width: 472px;
height: 116px;
font-size: 14px;
line-height: 1.28;
color: rgba(251, 251, 251, 0.40);
    }

.rent-yacht-textarea::placeholder {
    font-size: 14px;
    line-height: 1.28;
    color: rgba(251, 251, 251, 0.40);
}

.button-rent-form {
min-width: 194px;
height: 56px;
padding: 18px 75px;
font-size: 18px;
line-height: 1.2;
margin-bottom: 100px;
                }

.rent-pict {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}
 }

          /* ========= DESKTOP ========== */

@media only screen and (min-width: 1280px) {
   
 .rent-a-yacht {
    display: flex;
    flex-direction: row-reverse;
 }
 
.rent-form-container {
        max-width: 472px;
        padding-top: 150px;
    }


.rent-pict {
        width: 658px;
        margin-left: 50px;
        margin-top: 150px;
}

.button-rent-form {
    margin-bottom: 150px;
}


.button-rent-form:hover,
.button-rent-form:focus {
    color: #1B414B;
    background: #FBFBFB;
}

.rent-yacht-input:focus,
.rent-yacht-textarea:focus{
    color: #FBFBFB;
}

}